/*Universal styling*/

html {
    font-size: 16px;
    background-color: white;
    font-family: Roboto;
}

main {
    position: relative;
    top: 4rem;
}

h5 {
    padding: 1rem 0;
}

h1 {
    font-weight: bold;
}

/*header/nav styling*/

header {
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid lightgray;
}

#logo {
    height: 2rem;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;   
}

#logo span {
    font-weight: bold;
}

#logo-right {
    color: gray;
}

nav {
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
}

header p {
    padding-left: 1rem;
}

/*Banner styling*/

#banner {
    background-color: lightgray;
    display: flex;
    align-items: center;
}

#banner figure {
    padding: 2rem 1.5rem;
    width: 60%;
}

#banner div {
    padding-right: 1.5rem;
}

#banner p {
    text-align: center;
    padding: 0.5rem 0;
    color: white;
    background-color: black;
}

/*Info styling*/

#info {
    display: flex;
    align-items: flex-start;
}

#info-left {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    padding: 2rem 1.5rem;
}

#info-left figure {
    padding-bottom: 2rem;
}

#info h1 {
    padding-bottom: 1.5rem;
}

#info-left h3 {
    padding-bottom: 1.5rem;
}

#info-right {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding: 2rem 0;
    border-left: 0.1rem solid lightgray;
}

.right-box {
    display: flex;
    padding-right: 1rem;
}

.right-box figure {
    padding: 1rem 1rem 1rem 1rem;
}

#middle-right-box {
    border-top: 0.1rem solid lightgray;
    border-bottom: 0.1rem solid lightgray;
}

#top-right-box-figure {
    padding-top: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
}

.content p {
    padding-top: 0.5rem;
}

.content .read-more {
    color: cornflowerblue;
    font-weight: bold;
}

/*Courses styling - still can't get the cards to be the right height*/

#courses {
    background-color: lightgray;
    text-align: center;
}

#courses h1 {
    padding: 2rem 0;
}

#courses-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    padding: 0 3.5rem 2rem 3.5rem;
    gap: 2rem;
}

.courses-content {
    background-color: white;
    text-align: left;
    padding: 1rem 1rem 1.5rem 1rem;
}

.courses {
    padding: 0.5rem 0;
}

/*Thesis styling*/

#thesis h1 {
    padding: 1rem 0;
    text-align: center;
}

#thesis-container {
    display: flex;
    align-items: flex-start;
}

#thesis-left {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    padding: 2rem 1.5rem;
}

#thesis-left figure {
    padding-bottom: 2rem;
}

#thesis-right {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding: 2rem 0;
}

#thesis-right figure {
    padding: 0 1rem 1rem 1rem;
}

/*Footer styling*/

footer {
    border-top: solid 1px lightgray;
    width: 98%;
    margin: 0 auto;
}

.footer-left {
    display: inline-block;
    padding: 1rem 0 1rem 1.5rem;
}

.footer-right {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 0;
    float: right;
}