/*Universal styling*/

html {
    font-size: 16px;
}

main {
    position: relative;
    top: 4rem;
}

/*header/nav styling*/

header {
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #header-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header #logo {
    height: 2rem;
    padding-left: 1.5rem;
}

header nav {
    padding-right: 1.5rem;
}

header p {
    padding-left: 1rem;
}

/*Banner styling*/

#banner {
    background-color: lightgray;
}

#banner {
    display: flex;
    align-items: center;
}

#banner figure {
    padding: 2rem 1.5rem;
    width: 60%;
}

#banner div {
    padding-right: 1.5rem;
}

#banner p {
    text-align: center;
    padding: 0.5rem 0;
    color: white;
    background-color: black;
}